@import './base.css';
@import "@fontsource/poppins/index.css";
@import "@fontsource/cutive-mono/index.css";

.blog {
    border: 3px solid var(--color-border);
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 5px;
}

.blog a { color: var(--color-text); text-decoration: underline }
.blog a:hover { color: var(--color-link) }

.blog_span_2 { font-style: italic; }
.blog_span_3 { font-weight: bold; }
